@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  color: white;
  background: linear-gradient(rgba(47, 150, 163, 0.9), rgba(48, 62, 143, 0.9));
  font-family: "Outfit", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  width: 100%;
  height: 100vh;
  position: relative;
}

.container {
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app .top {
  width: 100%;
  margin: 1rem auto;
}

.app .description {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
}

.app .search {
  margin-top: 50px;
  text-align: center;
  padding: 1rem;
}

.app input {
  padding: 0.7rem, 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.1);
}

::placeholder {
  color: #f8f8f8;
  text-align: center;
}

.location,
.temperature {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.temperature {
  flex-direction: column;
}
